:root {
    --vlight:#AE98A1 ;
    --light: #7B636C ;
    --mid: #4E4149 ;
    --dark: #2D2722;
    --vdark: #1D1017 ;
}
h1 {
    font-family: 'Courier New', Courier, monospace ;
}
 body {
   background-color: var(--vdark);
}
aside {
    color: white;
    margin-right: 20px;
    background-color: var(--mid);
    padding: 10px;
    height: 874px;
    width: fit-content;
    border-radius: 5px;
    border-color: #AE98A1;
    border-style: groove;
    border-width: 5px;
    
}
h2 {
    font-family: 'Courier New', Courier, monospace;
}
ul{
    text-align: left;
    padding: 5px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#pubs {
    padding:0px;
    text-align: left;
}

.hide{
    display: none;
}

